<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://townsquare.media/site/393/files/2019/03/GettyImages-898266112.jpg)">
  <div>
    <h1>Save any kind of movies</h1>
  </div>
</div>
<div class="title-box">
  <h2>My Lists</h2>
</div>
<div class="d-flex justify-content-center p-2">
  <div class="d-flex justify-content-around w-50">
      <% @lists.each do |list| %>
        <div class="card-box" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg);">
          <p><%= list.name %></p>
          <div class="link"><%= link_to new_list_bookmark_path(list) do %>
            <button class="btn btn-primary">Add Film</button>
          </div>
        <% end %>
        </div>
      <% end %></p>
    </div>
  </div>
</div>
